<section>
  <div class="py-12 h-full px-8 md:px-12 lg:px-32 max-w-7xl mx-auto">
    <div class="text-left lg:text-center">
      <h2 class="text-4xl font-semibold tracking-tighter text-zinc-900">
        Spotless massively improves <span class="block"
          >your Tailwind experience</span
        >
      </h2>
    </div>
    <div class="grid gap-4 md:grid-cols-3 mt-12 lg:text-center">
      <div class="flex flex-col gap-4">
        <div
          class="flex h-12 w-12 font-semibold items-center lg:justify-center rounded-full bg-white text-zinc-700 lg:mx-auto">
          1
        </div><div>
          <p class="font-medium text-zinc-900">Rule of Attribution</p><p
            class="text-zinc-500 mt-2 text-sm">
            You must give appropriate credit to the original creator of the
            work. This typically includes providing the name of the author or
            licensor, a link to the original work, and indicating if changes
            were made.
          </p>
        </div>
      </div><div class="flex flex-col gap-4">
        <div
          class="flex h-12 w-12 font-semibold items-center lg:justify-center rounded-full bg-white text-zinc-700 lg:mx-auto">
          2
        </div><div>
          <div class="font-medium text-zinc-900">
            No additional restrictions
          </div><p class="text-zinc-500 mt-2 text-sm">
            You may not impose any additional legal terms or technological
            measures on the work that restrict the freedoms granted by the CC BY
            3.0 License. This means you can't add extra conditions or
            restrictions beyond what the license allows.
          </p>
        </div>
      </div><div class="flex flex-col gap-4">
        <div
          class="flex h-12 w-12 font-semibold items-center lg:justify-center rounded-full bg-white text-zinc-700 lg:mx-auto">
          3
        </div><div>
          <p class="font-medium text-zinc-900">Share alike (SA) absence</p><p
            class="text-zinc-500 mt-2 text-sm">
            The CC BY 3.0 License does not include a "Share Alike" (SA)
            provision. Unlike some other Creative Commons licenses, it does not
            require you to license any derivative works under the same terms.
            You can create adaptations or derivatives and license them
            differently if you choose.
          </p>
        </div>
      </div><div class="flex flex-col gap-4">
        <div
          class="flex h-12 w-12 font-semibold items-center lg:justify-center rounded-full bg-white text-zinc-700 lg:mx-auto">
          4
        </div><div>
          <p class="font-medium text-zinc-900">Commercial use allowed</p><p
            class="text-zinc-500 mt-2 text-sm">
            You are allowed to use the licensed work for both non-commercial and
            commercial purposes. There are no restrictions on using CC BY 3.0
            licensed content for commercial gain.
          </p>
        </div>
      </div><div class="flex flex-col gap-4">
        <div
          class="flex h-12 w-12 font-semibold items-center lg:justify-center rounded-full bg-white text-zinc-700 lg:mx-auto">
          5
        </div><div>
          <p class="font-medium text-zinc-900">Modification Freedom</p><p
            class="text-zinc-500 mt-2 text-sm">
            You can adapt, remix, transform, and build upon the licensed work.
            However, you must still give proper attribution to the original
            creator and make it clear if you have made any modifications.
          </p>
        </div>
      </div><div class="flex flex-col gap-4">
        <div
          class="flex h-12 w-12 font-semibold items-center lg:justify-center rounded-full bg-white text-zinc-700 lg:mx-auto">
          6
        </div>
        <div>
          <p class="font-medium text-zinc-900">No warranty disclaimer</p><p
            class="text-zinc-500 mt-2 text-sm">
            The license comes with no warranties. The licensor provides the work
            "as is," and users must use it at their own risk.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
