<section>
  <div
    class="py-12 h-full px-8 gap-2 flex flex-col md:px-12 lg:px-32 max-w-7xl mx-auto">
    <div
      class="lg:grid-flow-col-dense grid gap-2 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-3">
      <div class="min-w-full max-w-lg mx-auto">
        <div class="flex h-full">
          <div
            class="flex flex-col justify-center bg-zinc-50 rounded-3xl p-8 border max-w-none">
            <h2 class="font-medium text-zinc-900">
              No additional restrictions
            </h2>
            <p class="mt-4 text-sm text-zinc-500">
              You may not impose any additional legal terms or technological
              measures on the work that restrict the freedoms granted by the CC
              BY 3.0 License. This means you can't add extra conditions or
              restrictions beyond what the license allows.
            </p>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2">
        <div>
          <div
            class="box-inset relative h-full border rounded-3xl p-2 overflow-hidden">
            <img
              src="/placeholder.png"
              class="rounded-2xl h-full object-cover shadow-2xl border"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="lg:grid-flow-col-dense grid gap-2 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-3">
      <div class="lg:col-start-3 min-w-full max-w-lg mx-auto">
        <div class="flex h-full">
          <div
            class="flex flex-col justify-center bg-zinc-50 rounded-3xl p-8 border max-w-none">
            <h2 class="font-medium text-zinc-900">Rule of Attribution</h2>
            <p class="mt-4 text-sm text-zinc-500">
              You must give appropriate credit to the original creator of the
              work. This typically includes providing the name of the author or
              licensor, a link to the original work, and indicating if changes
              were made.
            </p>
          </div>
        </div>
      </div>
      <div class="lg:col-start-1 lg:col-span-2">
        <div>
          <div
            class="box-inset relative h-full border rounded-3xl p-2 overflow-hidden">
            <img
              src="/placeholder.png"
              class="rounded-2xl h-full object-cover shadow-2xl border"
            />
          </div>
        </div>
      </div>
    </div>
    <div
      class="lg:grid-flow-col-dense grid gap-2 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-3">
      <div class="min-w-full max-w-lg mx-auto">
        <div class="flex h-full">
          <div
            class="flex flex-col justify-center bg-zinc-50 rounded-3xl p-8 border max-w-none">
            <h2 class="font-medium text-zinc-900">Share alike (SA) absence</h2>
            <p class="mt-4 text-sm text-zinc-500">
              The CC BY 3.0 License does not include a "Share Alike" (SA)
              provision. Unlike some other Creative Commons licenses, it does
              not require you to license any derivative works under the same
              terms. You can create adaptations or derivatives and license them
              differently if you choose.
            </p>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2">
        <div>
          <div
            class="box-inset relative h-full border rounded-3xl p-2 overflow-hidden">
            <img
              src="/placeholder.png"
              class="rounded-2xl h-full object-cover shadow-2xl border"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="grid gap-2 md:grid-cols-3 text-center mt-2">
      <div>
        <div class="border rounded-3xl p-2 overflow-hidden">
          <img
            src="/placeholder.png"
            alt="Guidelines and computed regions"
            class="mx-auto rounded-2xl w-full h-full"
          />
        </div>
        <div class="mt-4">
          <p class="font-medium text-zinc-900">No warranty disclaimer</p><p
            class="text-zinc-500 mt-2 text-sm">
            The license comes with no warranties. The licensor provides the work
            "as is," and users must use it at their own risk.
          </p>
        </div>
      </div>
      <div>
        <div class="border rounded-3xl p-2 overflow-hidden">
          <img
            src="/placeholder.png"
            alt="Copy element or class list"
            class="mx-auto rounded-2xl w-full h-full"
          />
        </div>
        <div class="mt-4 px-8">
          <p class="font-medium text-zinc-900">Modification Freedom</p><p
            class="text-zinc-500 mt-2 text-sm">
            You can adapt, remix, transform, and build upon the licensed work.
          </p>
        </div>
      </div>
      <div>
        <div class="border rounded-3xl p-2 overflow-hidden">
          <img
            src="/placeholder.png"
            alt="Autocompletion"
            class="mx-auto rounded-2xl w-full h-full"
          />
        </div>
        <div class="mt-4 px-8">
          <p class="font-medium text-zinc-900">Commercial use allowed</p><p
            class="text-zinc-500 mt-2 text-sm">
            You are allowed to use the licensed work for both non-commercial and
            commercial purposes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
