<footer class="border-t overflow-hidden">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl">
    <p class="text-center text-zinc-500 text-sm mx-auto">
      © Wind Basic. Design: <a
        href="https://windbasics.com/"
        class="underline underline-offset-2">Wind Basic</a
      >. Demo Images: Respective owners.
    </p>
  </div>
</footer>
