<section>

  <div class="py-24 lg:py-32 h-full px-8 md:px-12 lg:px-32 max-w-7xl mx-auto">
    <div class="text-left lg:text-center">
      <p
        class="text-4xl font-semibold lg:text-5xl tracking-tighter text-zinc-900">
        Spotless free theme
        <span class="lg:block"> built with Astro & Tailwind CSS</span>
      </p>
      <p class="mt-4 text-base text-zinc-500 max-w-xl mx-auto">
        A website template by
        <a class="underline" href="http://x.com/Mike_Andreuzza">Michael Andreuzza</a> <br>
         <a class="underline" href="http://windbasics.com/">Download it</a>
         under the
        <a class="underline" href="http://creativecommons.org/licenses/by/3.0/"
          >Creative Commons Attribution 3.0 License.
        </a>
      </p>

      <div
        class="flex flex-col items-center justify-center gap-3 mt-10 md:flex-row">
        <a
          class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg bg-gradient-to-b from-zinc-500 hover:to-zinc-700 to-zinc-600 md:w-auto"
          href="/">Try on this page</a
        ><a
          class="flex items-center justify-center w-full h-10 px-4 py-2 text-sm transition-all bg-white border border-gray-300 rounded-lg md:w-auto md:font-semibold text-zinc-600 hover:text-zinc-500"
          href="#_">
          Get spotless now →</a
        >
      </div>
    </div>
    <div
      class="mt-12 border rounded-2xl p-2 bg-zinc-50 z-50 w-full mx-auto overflow-hidden">
      <img
        src="/placeholder.png"
        class="rounded-xl inline-block shadow-2xl ring-0"
      />
    </div>
  </div>
</section>
