<section>
  <div class="py-24 h-full px-8 md:px-12 lg:px-32 max-w-7xl mx-auto">
    <div class="text-center">
      <h2 class="text-4xl font-semibold tracking-tighter text-zinc-900">
        What spotless users say
      </h2>
    </div>
    <div class="grid gap-2 text-center md:grid-cols-3 mt-12">
      <div class="flex flex-col gap-4 rounded-3xl p-8 bg-zinc-50">
        <div
          class="flex h-12 w-12 font-semibold items-center justify-center rounded-full overflow-hidden mx-auto">
          <img src="/avatar1.png" alt="" />
        </div>
        <div>
          <p class="font-medium text-zinc-900">Larl Sobe. Founder, UnhelpIt</p>
          <p class="text-zinc-500 mt-2 text-sm">
            I've been using spotless for the past 4 weeks and absolutely love
            it. I use Tailwind almost every day, so this tool saves me bunch of
            time! The most amazing thing is the integrated JIT engine support
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-4 rounded-3xl p-8 bg-zinc-50">
        <div
          class="flex h-12 w-12 font-semibold items-center justify-center rounded-full overflow-hidden mx-auto">
          <img src="/avatar2.png" alt="" />
        </div>
        <div>
          <div class="font-medium text-zinc-900">Sam Foun. xero</div>
          <p class="text-zinc-500 mt-2 text-sm">
            I'm an early user of spotless - it's a great product! It makes my
            life so much easier & saves me a lot of time when working with
            TailwindCSS! Thank your for making this tool!
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-4 rounded-3xl p-8 bg-zinc-50">
        <div
          class="flex h-12 w-12 font-semibold items-center justify-center rounded-full overflow-hidden mx-auto">
          <img src="/avatar3.png" alt="" />
        </div>
        <div>
          <p class="font-medium text-zinc-900">
            peter Blavier. Founder, Something
          </p>
          <p class="text-zinc-500 mt-2 text-sm">
            Using spotless is so much better and intuitive than just hacking
            styles from the browser devtools. Getting it is a no-brainer for
            anyone working with Tailwind CSS!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
